/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-moz-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #FB923C; 
  border-radius: 10px;
}

::-moz-scrollbar-thumb {
  background: #FB923C; 
  border-radius: 10px;
}